@import "tailwindcss";
@config "../../tailwind.config.ts";


body {
  color: white;
  background-color: rgb(0, 5, 0);
  font-family: var(--font-inter);
}

main::-webkit-scrollbar {
  width: 8px;
}
 
main::-webkit-scrollbar-track {
  background-color: (0,5,0);
}
 
main::-webkit-scrollbar-thumb {
  background-color: rgb(60,65,60);
  border-radius: 10px;
}

.jetbrains-mono{
  font-family: var(--font-jetbrains-mono);
}
